.page__sidebar {
  background: $color-code-sidebar;
  grid-area: sidebar;
  display: grid;
  grid-template-columns: $inner-sidebar-width 1fr;
  overflow: hidden;

  @media #{$screen-small} {
    grid-template-columns: 1fr;
    grid-template-rows: $inner-sidebar-width auto;
  }
}

.page__inner-sidebar {
  background: $color-code-inner-sidebar;
  display: flex;
  flex-direction: column;
  height: 100%;

  @media #{$screen-small} {
    flex-direction: row;
  }
}

.inner-sidebar__link {
  color: $color-inner-sidebar-text;
  font-size: 1.8em;
  display: block;
  text-align: center;
  padding: $padding-double;
  position: relative;
  opacity: 0.2;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    width: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: $color-complementary;
    transition: all 200ms;
  }
  
  
  &--active {
    opacity: 1;
    &::before {
      width: 2px;
    }
  }

  @media #{$screen-small} {
    height: 100%;
    &::before {
      width: 100%;
      top: auto;
      bottom: 0;
      left: 0;
      height: 0;
    }

    &--active::before {
      height: 2px;
    }
  }
}

.inner-sidebar__link--settings {
  margin-top: auto;
  @media #{$screen-small} {
   margin-top: 0;
   margin-left: auto;
  }
}

.page__sidebar__projects {
  padding: $padding-double;
}

.projects__header {
  display: flex;
}

.projects__header h2 {
  font-size: 1em;
  font-weight: $font-weight-regular;
}

.projects__header i {
  margin-left: $margin;
}

.projects-list {
  padding: $padding;
}

.sidebar__checkbox__content {
  img {
    margin-right: $margin;
  }
}

.projects__filter {
  cursor: pointer;
}