.project__page {
  padding: $padding-triple;
  overflow-x: hidden;
}

.project__page h2 {
  font-size: 1.2em;
  margin: $margin-double 0;
}

.project__languages__list {
  margin: $margin-triple 0;
  display: flex;
  overflow: auto;
}

.project__language {
  $size: 50px;
  height: $size;
  width: $size;
  border-radius: 50%;
  background: $color-code-sidebar;
  margin-right: $margin;
  display: grid;
  place-items: center;
  flex-shrink: 0;
}

.indicator {
  $size: 0.75em;
  display: inline-block;
  margin-right: $margin-half;
  height: $size;
  width: $size;
  border-radius: 50%;
  &--true {
    background: $color-mac-green;
  }
  &--false {
    background: $color-mac-red;
  }
}

.project__details__table {
  margin-left: -$margin;
  margin-bottom: $margin-double;
}

.project__details__table .table-column:last-child {
  font-weight: bold;
}

.lastest-commits__list {
  border-radius: 4px;
  overflow: hidden;
}

.commit {
  display: grid;
  grid-template-columns: 50px 1fr auto;
  grid-column-gap: $padding-double;
  align-items: center;
  height: 60px;
  background: $color-code-sidebar;
  padding: $padding $padding-double;
}

.commit__avatar {
  position: relative;
  height: 100%;
  width: calc(60px - #{$padding * 2});
  border-radius: 50%;
  overflow: hidden;
  img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}

.commit__message {
  font-size: 0.9em;
  max-width: 800px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media #{$screen-small} {
    max-width: 200px;
  }
}

.commmit__authored {
  font-size: 0.9em;
  opacity: 0.5;
  a {
    font-weight: $font-weight-bold;
  }
}

p.no-content-available {
  color: $color-text-40;
  font-style: italic;
  font-size: 0.9em;
}

.project__workflows__container {
  display: grid;
  grid-gap: $margin;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}
