.page__header {
  height: $header-height;
  background: $color-code-header;
  grid-area: header;
  display: flex;
  align-items: center;
  position: relative;
}

.page__header__mac-buttons {
  display: flex;
  height: 100%;
  padding: $padding;
  position: absolute;

}

.mac-button {
  $size: $header-height - (2 * $padding);
  width: $size;
  height: $size;
  margin-right: $margin;
  border-radius: 50%;
  cursor: pointer;
  &--close {
    background: $color-mac-red;
  }
  &--minimize {
    background: $color-mac-yellow;
  }
  &--expand {
    background: $color-mac-green;
  }
  &:hover {
    opacity: 0.8;
  }
}

.page__header__name {
  color: $color-text-40;
  margin: 0 auto;
}