.root__page {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20% $padding-triple $padding-triple;

  @media #{$screen-small} {
    padding-top: 40%;
  }
}

.root__page__icons-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  .root__page__icon {
    opacity: 0.2;
    animation: rootIcon 3s infinite linear;
    position: absolute;
  }
}

.root__page__arrow {
  $height: 40px;
  position: absolute;
  top: 3%;
  left: $height + $margin;
  background: $color-complementary;
  color: $color-code-sidebar;
  padding: 0 $padding-double;
  line-height: $height;
  height: $height;
  font-weight: $font-weight-bold;

  &::before {
    content: '';
    position: absolute;
    left: -$height/2;
    width: 0;
    height: 0;
    border-top: $height/2 solid transparent;
    border-bottom: $height/2 solid transparent;
    border-right: $height/2 solid $color-complementary;
  }

  @media #{$screen-small} {
    left: auto;
    right: $margin;

    &::before {
      left: auto;
      right: 0;
      top: -$height;
      border-left: $height/2 solid transparent;
      border-right: $height/2 solid transparent;
      border-bottom: $height/2 solid $color-complementary;
    }
  }
}

.hero__text {
  position: relative;
  text-transform: uppercase;
  margin-left: 5%;
}

.hero__text h2 {
  font-size: 1.4em;
  span {
    color: $color-complementary;
  }
}

.hero__text h1 {
  font-weight: $font-weight-black;
  font-size: 3em;
  margin-top: -$margin;
}

.hero__text-btn {
  margin-top: $margin;
  display: inline-block;
  padding: $padding $padding-double;
  color: $color-complementary;
  border: 1px solid $color-complementary;
  border-radius: 4px;
  transition: all 200ms;
  cursor: pointer;
  i {
    margin-right: $margin;
  }

  &:hover {
    background: $color-complementary;
    color: $color-code-content;
  }
}

.root__page__keyboard-shortcuts {
  position: relative;
  margin-top: auto;
  width: 300px;

  @media #{$screen-small} {
    display: none;
  }
}

.keyboard__shortcut {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: $margin 0;
}

.keyboard__shortcut__keys {
  margin-left: $margin;

  span {
    width: 55px;
    padding: $padding;
    text-align: center;
    display: inline-block;
    background: $color-code-sidebar;
    margin: 0 $margin-half;
    border-radius: 4px;
    font-weight: $font-weight-bold;
  }
}
