
// Colors
$beige-main: #EAE2B7;
$dark-blue-main: #003049;
$orange-main: #F77F00;
$red-main: #D62828;

$white-faded-10: rgba(255,255,255,0.1);
$white-faded-20: rgba(255,255,255,0.2);
$white-faded-30: rgba(255,255,255,0.3);