[data-theme='dark'] {
  // Dark colors
  --color-code-content: #252526;
  --color-code-header: #3c3c3c;
  --color-code-inner-sidebar: #333333;
  --color-code-sidebar: #333333;
  --color-code-footer: #0078cf;
  --color-text: #fff;
  --color-text-40: rgba(255, 255, 255, 0.4);
  --color-inner-sidebar-text: #fff;
  --color-complementary: #2c7bb5;
}

[data-theme='material-dark'] {
  // Dark colors
  --color-code-content: #132c38;
  --color-code-header: #092532;
  --color-code-inner-sidebar: #051f2b;
  --color-code-sidebar: #092532;
  --color-code-footer: #092532;
  --color-text: #fff;
  --color-text-40: rgba(255, 255, 255, 0.4);
  --color-inner-sidebar-text: #fff;
  --color-complementary: #c4fb6d;
}

[data-theme='light'] {
  // Light colors
  --color-code-content: #fffffe;
  --color-code-header: #f2f2f2;
  --color-code-inner-sidebar: #2c2c2c;
  --color-code-sidebar: #f3f3f3;
  --color-code-footer:#007acc;
  --color-text: #333;
  --color-text-40: rgba(0, 0, 0, 0.4);
  --color-inner-sidebar-text: #fff;
  --color-complementary: #fc75aa;
}

[data-theme='material-light'] {
  // Light colors
  --color-code-content: #ffffff;
  --color-code-header: #ffffff;
  --color-code-inner-sidebar: #fafafa;
  --color-code-sidebar: #fafafa;
  --color-code-footer:#007acc;
  --color-text: #7d8385;
  --color-text-40: rgba(0, 0, 0, 0.4);
  --color-inner-sidebar-text: #90a4af;
  --color-complementary: #9dd5d5;
}
