[data-theme='dark'] {
  // Dark colors
  --color-code-content: #132c38;
  --color-code-header: #092532;
  --color-code-inner-sidebar: #051f2b;
  --color-code-sidebar: #092532;
  --color-code-footer: #092532;
  --color-text: #fff;
  --color-text-40: rgba(255, 255, 255, 0.4);
  --color-inner-sidebar-text: #fff;
  --color-complementary: #c4fb6d;
}

[data-theme='light'] {
  // Light colors
  --color-code-content: #fffffe;
  --color-code-header: #f2f2f2;
  --color-code-inner-sidebar: #2c2c2c;
  --color-code-sidebar: #f3f3f3;
  --color-code-footer:#007acc;
  --color-text: #333;
  --color-text-40: rgba(0, 0, 0, 0.4);
  --color-inner-sidebar-text: #fff;
  --color-complementary: #fc75aa;
}
