// Sizes

$padding: 8px;
$padding-double: calc(#{$padding} * 2);
$padding-triple: calc(#{$padding} * 3);
$padding-half: calc(#{$padding} / 2);

$margin: 8px;
$margin-double: calc(#{$margin} * 2);
$margin-triple: calc(#{$margin} * 3);
$margin-half: calc(#{$margin} / 2);

$screen-small: screen and (max-width: 1000px);

$header-height: 32px;
$tab-list-height: 35px;
$sidebar-width: 320px;
$inner-sidebar-width: 60px;