@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700;900&display=swap');

$font-weight-regular: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

h3 {
  margin: $margin 0;
}