@import './variables';
@import './typography';
@import './keyframes';
@import './table';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Raleway', sans-serif;
  color: $color-text;
}
a {
  color: inherit;
  text-decoration: none;
}